---
import Layout from "../layouts/Layout2.astro";
import fotos from "../client/fotos.json";
---

<Layout title="fotos de valeria">
  <div class="bg-slate-900 z-10 w-screen h-screen">
    <h2
      class="text-center text-white text-4xl p-5 animate-fade-in-up animate-delay-300"
    >
      <span class="text-purple-400">Valeria</span>
      <span class="text-yellow-300">la chica más hermosa del</span>
      <span class="text-blue-400">mundo</span>
      <a href="./" class="underline text-3xl text-red-400">Regresar</a>
    </h2>
    <div
      class="bg-slate-900 z-10 grid grid-cols-2 gap-5 animate-fade-in-up animate-delay-700 p-4 md:place-items-center"
    >
      {
        fotos.map((foto, index) => (
          <a href={`./fotos/${foto.id}`} class="cursor-pointer">
            <img
              src={foto.nombreFoto}
              alt=""
              class="w-full h-auto md:w-52"
              transition:name={`foto-${foto.id}`}
            />
          </a>
        ))
      }
    </div>
  </div>
</Layout>
