<section class="text-center mt-10 flex items-center justify-center">
  <div class="md:text-1xl md:p-28 text-lg p-4 md">
    <span class="animate-fade-in-up animate-delay-300">
      Valeria <strong>mi amor</strong>, te escribo esto porque quiero que sepas
      lo mucho que
      <strong>me gustas</strong>. No he dejado de pensar ni un poco en ti y
      ahora sé que yo nunca quiero volver a estar sin tu <strong>amor</strong>,
      <strong>te amo tanto</strong> y espero puedas lograr entender lo mucho que<strong
        > me gustas</strong
      > con todo lo que te voy a escribir porque es que estoy completamente enamorado
      de ti, lo único que quiero es cuidarte, mirar tus hermosos ojos o tu carita
      tan bonita y ser feliz con los besos que me das, ¿Qué más podría pedir?
    </span>

    <span class="animate-fade-in-up animate-delay-700 block mt-4">
      solo quiero comerte ese ocico a besos y admirar tu rostro tan bonito que me hace
      quedarme como bobo con esa mirada tan linda que tienes o esos cachetes
      hermosos que te hacen ser tan linda y luego quisiera escuchar tu voz que
      junto con tu manera de expresarte me llega a fascinar de una gran manera.
      En mi mente solo puedo llegar a pensar " <strong
        >dios, que hermosa es Valeria</strong>".</span>

    <p>
      Y es que me siento tan feliz por tenerte en mi vida, siento que contigo ya
      nada me falta y podria durar horas escuchandote, es que me encantas un
      buen mi amor, mira ese
      <strong> cuerpo hermoso</strong> que tu tienes es divino, luego mira la persona
      que tu eres y es que eres asombrosa <strong>te admiro mucho</strong>
      y eres una persona más que genial, lo digo enserio y aunque no estuvieramos
      en una relación pensaría lo mismo, <strong
        >te amo mucho corazoncito</strong
      >
    </p>

    <p>
      Y es que <strong>mi amor</strong>, estoy completamente embobado por ti,
      tengo muchos sueños por cumplir pero ahora todo lo pienso junto a ti
      porque lo que más quiero es estar a tu lado, todos los días me despierto
      tan feliz por saber que tú y yo somos novios, me has ayudado a ser feliz
      cada día, te <strong>amo tanto</strong>
    </p>

    <p>
      <strong>mi amor</strong>, espero poderte ver pronto para <strong
        >besar tus labios</strong
      > y poder sonreír tanto al verte porque te <strong>amo</strong>, eres
      perfecta y cada día siento como <strong>el amor</strong> que te tengo va creciendo
      cada vez más,
      <strong>eres el <strong>amor</strong> de mi vida</strong>
    </p>
  </div>
</section>

<style>
  strong {
    color: #991b1b;
    font: bold;
  }

  p {
    margin-top: 1rem /* 16px */;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: 20% cover 30%;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 100px;
      scale: 0.5;
    }
    to {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }

  @media (min-width: 768px){
    p{
      margin-top: 3rem;
    }
  }
</style>
