---
import Corazon from "../components/Corazon.astro"
---

<div class="flex flex-col items-center justify-center">

  <h2 class="text-4xl font-bold text-center mt-4 animate-fade-in-up block mb-3">
    <span class="-skew-y-3 block text-black/80"> Para valeria </span>
    <span class="text-red-600/80 block -skew-y-3">mi amor</span>
    <span class="text-red-600 block -skew-y-3">la mejor novia del mundo</span>
  </h2>
  <Corazon class="animate-fade-in-up"/>

</div>
